@import "bourbon/bourbon";

$max-width: em(840) !global;
@import "neat/neat";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  font-size: 100%;
  @include media(min-width 480px) { font-size: 110%; }
  @include media(min-width 640px) { font-size: 125%; }
  line-height: 1.6;
  a {
    color: #441244;
    text-decoration: none;
  }
  a:hover{
    color: #f47f3b;
  }
}

header.banner {
  @include linear-gradient(#332233, #441244);
  background-image: url(/images/anza-borrego-starscape.jpg);
  background-image: url(http://res.cloudinary.com/fleetnation/image/private/c_fit,w_1120/g_south,l_text:style_gothic2:%C2%A9%20Javier%20L%C3%B3pez%20Pe%C3%B1a,o_20,y_10/g_center,l_watermark4,o_25,y_50/v1404078618/y7kvwznrvxzivz2mbzuv.jpg);
  
  background-position: center center;
  background-size: cover;
  .container {
    padding: 8% 0 17% 2em;
  }
  h1 {
    text-align: center;
    margin: 0;
    img {
      min-width: 12rem;
      max-width: 26rem;
      width: 50%;
    }
  }
}

nav.navigation {
  text-align: center;
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    display: inline-block;
    a {
      display: block;
      padding: 0.25em 2em;
    }
  }
}

.container {
  @include outer-container;
}


// ========Home Page=========

.about {
  @include media(min-width 640px) {
    @include span-columns(7 of 12);
  }
  padding: 2em 1em 0;
}

.event {
  @include media(min-width 640px) {
    @include span-columns(5 of 12);
    @include omega;
  }
  background: #f9f4e0;
  padding: 1em 2em;
}


section.info{
  @include span-columns(12);
}

.thanks{
  @include span-columns(8 of 12);
}

.org{
  @include span-columns(4 of 12);
  text-align: center;
}

.dan{
@include span-columns(2 of 4)
}

.ne{
@include span-columns(2 of 4)
}


section.event {
  padding: 2em 0;
}

section.thanks {
  background: #eee;
  padding: 2em 0;
}

// ========About Page========
// .about_text{
// 	@include span-columns(7);
// }
// .organizers{
// 	@include span-columns(5);
// 	background-color: #eee;
// 	padding: 1em;
// 	padding-top: 0;
// }

// .dan, .ne {
// 	@include span-columns(2.5 of 5);
// 	text-align: center;
// 	img{
// 		width: 100%;
// 	}

// }
