<header role="banner" class="banner">
  <div class="container">
    <h1><a href="/"><img src="images/logo.svg" alt="Meteor Minds"></a></h1> 
  </div>
</header>

<nav class="navigation" role="navigation">
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/mental-illness">Mental Illness</a></li>
    <li><a href="/resources">Resources</a></li>
  </ul>
</nav>