/* line 1, /Users/danbarber/Projects/Personal/meteorminds/source/stylesheets/placeholder.css.scss */
#placeholder {
  text-align: center;
  color: #441144; }
  /* line 6, /Users/danbarber/Projects/Personal/meteorminds/source/stylesheets/placeholder.css.scss */
  #placeholder a {
    color: #ff7722; }
  /* line 8, /Users/danbarber/Projects/Personal/meteorminds/source/stylesheets/placeholder.css.scss */
  #placeholder a:hover {
    background-color: #441144; }
  /* line 10, /Users/danbarber/Projects/Personal/meteorminds/source/stylesheets/placeholder.css.scss */
  #placeholder h1 {
    color: #cc4422; }
