---
title: Meteor Minds
---

<header role="banner" class="banner">
  <div class="container">
    <h1><img src="images/logo.svg" alt="Meteor Minds"></h1>
  </div>
</header>

<nav class="navigation" role="navigation">
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/mental-illness">Mental Illness</a></li>
    <li><a href="/resources">Resources</a></li>
  </ul>
</nav>

<section class="about">
  <div class="container">
    <div class="about_text">
      <p>Meteor Minds is a forum for members of the London tech community to come together to discuss mental health issues. Our goal is to foster an informal network of people with mental health issues, and their allies, as well as to educate the community-at-large.</p>
      <p>Meteor Minds is a safe and supportive space. We don’t discriminate or judge. When you’re at a Meteor Minds event, you’re amongst friends.</p>
    </div>

    <div class="organizers">
      <p>Meteor Minds is organized by:</p>
      <div class="dan">
        <img src="images/Dan.jpg"><a href="https://twitter.com/danbee" target="_blank">Dan Barber</a>
      </div>
      <div class="ne">
        <img src="images/Ne.jpg">
        <a href="https://twitter.com/neha_shah" target="_blank">Nèha Shah</a>
      </div>
    </div>
  </div>
</section>



<footer>
  <div class="container"></div>
</footer>