---
title: Meteor Minds
---

<%= partial "partials/_banner.html.erb" %>

<section class="description">
  <div class="container">
    <div class="about">
      <p>Meteor Minds is a forum for members of the London tech community to come together to discuss mental health issues. Our goal is to foster an informal network of people with mental health issues, and their allies, as well as to educate the community-at-large.</p>
      <p>Meteor Minds is a safe and supportive space. We don’t discriminate or judge. When you’re at a Meteor Minds event, you’re amongst friends.</p>
      <p>Questions? Interested in speaking? <a href="mailto:neha@meteorminds.net?cc=dan@meteorminds.net&amp;subject=Meteor%20Minds">Get In Touch</a>.</p>
    </div>
    <div class="event vevent">
      <h3>The Event</h3>
      <p> Our first event is currently slated for spring 2015 in central London.<p>
      <p>Sponsored by:</p>
      <a href="https://www.new-bamboo.co.uk/" target="_blank"><img src="images/bambinosFTW.svg"></a>
      
    </div>
  </div>
</div>
</section>
<hr>
<section class="resources">
  <div class="container">
    <div class="Charity">
      <a href="http://www.rethink.org" target="_blank">
      <img src="http://www.rethink.org/images/logo.png">
      <br>
      Support and advice for people living with mental illness.
      </a>
    </div>
   <div class="Charity">
      <a href="www.thecalmzone.net" target="_blank">
      <img src="images/calmlogo.png">
      <br>
      CALM is the Campaign Against Living Miserably, for men aged 15-35. 
      </a>
    </div>
   <div class="Charity">
      <a href="www.depressionalliance.org" target="_blank">
      <img src="http://www.nvlifemagazine.com/wp-content/uploads/2014/09/depression-alliance-logo1.jpg">
      <br>
      Charity for sufferers of depression. Has a network of self-help groups.
      </a>
    </div>
   <div class="Charity">
      <a href="www.samaritans.org.uk" target="_blank">
      <img src="http://www.wjpfloyd.co.uk/images/cl-samaritans.gif">
      <br>
      Confidential support for people experiencing feelings of distress or despair.
      </a>
    </div>
   <div class="Charity">
      <a href="www.mind.org.uk" target="_blank">
      <img src="http://alexbritten.files.wordpress.com/2012/10/mind_logo.jpg">
      <br>
      Promotes the views and needs of people with mental health problems.
      </a>
    </div>
   <div class="Charity">
      <a href="https://www.anxietyuk.org.uk/" target="_blank">
      <img src="http://www.nice.org.uk/proxy/?sourceUrl=http%3A%2F%2Fwww.nice.org.uk%2Fmedia%2FC81%2FA5%2FAnxiety_UK_logo.png">
      <br>
      Charity providing support if you've been diagnosed with an anxiety condition.
      Phone: 08444 775 774 (Mon-Fri, 9.30am-5.30pm)
      </a>
    </div>
   <div class="Charity">
      <a href="http://www.nopanic.org.uk/" target="_blank">
      <img src="http://www.nopanic.org.uk/wp-content/uploads/2014/03/no-panic-logo.png">
      <br>
      Voluntary charity offering support for sufferers of panic attacks and OCD. Offers a course to help overcome your phobia/OCD. Includes a helpline.
      Phone: 0844 967 4848 (daily, 10am-10pm)
      </a>
    </div>
   <div class="Charity">
      <a href="www.bipolaruk.org.uk" target="_blank">
      <img src="http://uk.virginmoneygiving.com/resources/charity-logo/170x1001004019_22d66aaa-4cce-4f45-8524-cdb4c6a41b0d_BipolarUK_Logo_Colour_JPG%20High%20Res.jpg">
      <br>
      A charity helping people living with manic depression or bipolar disorder.
      </a>
    </div>
  </div>
</section>

<br>
<br>
<br>
<hr>
<section class="info">
  <div class="container">
    <div class="thanks">
    </div>
    <div class="org">
      <p>Meteor Minds is organized by:</p>
      <div class="dan">
        <a href="https://twitter.com/danbee" target="_blank">
        <img src="images/Dan_Bio.png">Dan Barber
        </a>
      </div>
      <div class="ne">
        <a href="https://twitter.com/neha_shah" target="_blank">
        <img src="images/Neha_Bio.png">
        Nèha Shah
        </a>
      </div>
    </div>
  </div>

</section>
