---
title: Meteor Minds
---

<%= partial "partials/_banner.html.erb" %>

<section class="description">
  <div class="container">
    <div class="about">
      <p>Meteor Minds is a forum for members of the London tech community to come together to discuss mental health issues. Our goal is to foster an informal network of people with mental health issues, and their allies, as well as to educate the community-at-large.</p>
      <p>Meteor Minds is a safe and supportive space. We don’t discriminate or judge. When you’re at a Meteor Minds event, you’re amongst friends.</p>
      <p>Questions? Interested in speaking? <a href="mailto:neha@meteorminds.net?cc=dan@meteorminds.net&amp;subject=Meteor%20Minds">Get In Touch</a>.</p>
    </div>
    <div class="event vevent">
      <h3>The Event</h3>
      <p> Our first event is currently slated for spring 2015 in central London.<p>
      <p>Sponsored by:</p>
      <a href="https://www.new-bamboo.co.uk/" target="_blank"><img src="images/bambinosFTW.svg"></a>
      
    </div>
  </div>
</div>
</section>

<section class="info">
  <div class="container">
    <div class="thanks">
    </div>
    <div class="org">
      <p>Meteor Minds is organized by:</p>
      <div class="dan">
        <a href="https://twitter.com/danbee" target="_blank">
        <img src="images/Dan_Bio.png">Dan Barber
        </a>
      </div>
      <div class="ne">
        <a href="https://twitter.com/neha_shah" target="_blank">
        <img src="images/Neha_Bio.png">
        Nèha Shah
        </a>
      </div>
    </div>
  </div>

</section>
