---
title: Meteor Minds
---

<%= partial "partials/_banner.html.erb" %>

<section class="description">
  <div class="container">
    <p>Meteor Minds is a forum for members of the London tech community to come together to discuss mental health issues.</p>

    <p>Questions? Interested in speaking? <a href="mailto:neha@meteorminds.net?cc=dan@meteorminds.net&amp;subject=Meteor%20Minds">Get In Touch</a>.</p>
  </div>
</section>

<section class="event vevent">
  <div class="container">
    <h3>The Event</h3>
    <p>Our first event will be held on <span class="dtstart">Thursday, November 27th</span> at <span class="dtstart">6:30pm</span> in the offices of <a href="https://new-bamboo.co.uk" class="location">New Bamboo</a>.</p>
  </div>
</section>

<section class="thanks">
  <div class="container">
    <h3>With thanks to:</h3>
    <p><img src="images/new-bamboo-logo.svg"></p>
  </div>
</section>
