---
title: Meteor Minds
---

<div id="placeholder">
  <h1>Meteor Minds</h1>

  <p>Meteor Minds is a forum for members of the London tech community to come together to discuss mental health issues.</p>
  <p>Our first event will be held on Thursday, November 27th at 6:30pm in the offices of <a href="http://citymapper.com/go/84xkr2">New Bamboo</a>.</p>
  <p>Questions? Interested in speaking? <a href="mailto:neha@meteorminds.net?cc=dan@meteorminds.net&amp;subject=Meteor%20Minds">Get In Touch</a>.</p>
</div>
