---
title: Meteor Minds
---

<%= partial "partials/_banner.html.erb" %>

<section class="description">
	<div class="container"></div>
</section>

<section class="event">
	<div class="container"></div>
</section>

<section class="thanks">
	<div class="container"></div>
</section>

<footer>
	<div class="container"></div>
</footer>