---
title: Meteor Minds
---

<header role="banner" class="banner">
	<div class="container">
  	<h1><img src="images/logo.svg" alt="Meteor Minds"></h1>
	</div>
</header>

<nav class="navigation" role="navigation">
	<ul>
		<li><a href="/about">About</a></li>
		<li><a href="/mental-illness">Mental Illness</a></li>
		<li><a href="/resources">Resources</a></li>
	</ul>
</nav>

<section class="description">
	<div class="container"></div>
</section>

<section class="event">
	<div class="container"></div>
</section>

<section class="thanks">
	<div class="container"></div>
</section>

<footer>
	<div class="container"></div>
</footer>